In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp, kstest, shapiro, pearsonr
import matplotlib.pyplot as plt
import seaborn as sns

In [65]:
# df1 =  pd.read_csv('1.csv',index_col=False)
# df1 = df1[df1['CLSTAR_COMPONENTS'] != 5]
# df1.to_csv("asd.csv")

In [66]:
# don't run this if you use google colab 
df1 =  pd.read_csv('1.csv',index_col=False)
df2 =  pd.read_csv('2.csv',index_col=False)
len(df1) + len(df2)

100

In [67]:
def f(df, num):
    for i in range(len(df['FILE_NAME'])):
        df['FILE_NAME'][i] = str(num)
        num += 1
    return num
        
num = 1
num = f(df1, num)
num = f(df2, num)

theDf = pd.concat([df1, df2], ignore_index=True, sort=False)
theDf

C:\Users\Aryan\AppData\Local\Temp\ipykernel_236\2516721676.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['FILE_NAME'][i] = str(num)
C:\Users\Aryan\AppData\Local\Temp\ipykernel_236\2516721676.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FILE_NAME'][i] = str(num)
C:\Users\Aryan\AppData\Local\Temp\ipykernel_236\2516721676.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df['FILE_NAME'][i] = str(num)
C:\Users\Aryan\AppData\Local\Temp\ipykernel_236\2516721676.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['FILE_NAME'][i] = str(num)
C:\Users\Aryan\AppData\Local\Temp\ipykernel_236\2516721676.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FILE_NAME'][i] = str(num)
C:\Users\Aryan\AppData\Local\Temp\ipykernel_236\2516721676.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['FILE_NAME'][i] = str(num)
C:\Users\Aryan\AppData\Local\Temp\ipykernel_236\2516721676.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FILE_NAME'][i] = str(num)
C:\Users\Aryan\AppData\Local\Temp\ipykernel_236\2516721676.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['FILE_NAME'][i] = str(num)
C:\Users\Aryan\AppData\Local\Temp\ipykernel_236\2516721676.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FILE_NAME'][i] = str(num)

,Unnamed: 0.15,Unnamed: 0.14,Unnamed: 0.13,Unnamed: 0.12,Unnamed: 0.11,Unnamed: 0.10,Unnamed: 0.9,Unnamed: 0.8,Unnamed: 0.7,Unnamed: 0.6,...,CLSTAR_MQ_RST,CLSTAR_EQ_SYM,CLSTAR_EQ_RST,CLSTAR_TOTAL_SYM,CLSTAR_TOTAL_RST,CLSTAR_EQs,CLSTAR_COMPONENTS,CLSTAR_ROUNDS,CLSTAR_MQs,CACHE
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,22976,1135292,7553,3030553,30529,51,3,7,35364,True
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,20750,1061781,7050,2591559,27800,57,3,7,33744,True
2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,19594,1058198,7048,2633726,26642,47,3,7,28653,True
3,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,...,15865,1133586,7553,2352529,23418,50,3,7,24329,True
4,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,...,20961,831953,5549,2638357,26510,44,3,6,30905,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95.0,95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,542914,9650385,64316,53328857,607230,617,7,29,662959,True
96,96.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,335275,6557693,43762,33053798,379037,495,7,24,406142,True
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,377452,6198416,41242,36703823,418694,540,7,24,465386,True
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,87120,1612340,10688,8233192,97808,299,7,12,106942,True
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,474117,10465486,69787,49088826,543904,657,7,31,583388,True

In [68]:
theDf.to_csv("Results.csv")